<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Migraine Machine Learning</title>

  <!-- Bootstrap core CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"/> -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
  <!-- Custom fonts for this template -->
  <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"> -->
  <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
  <link href="../static/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css"> -->
  <link href="../static/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'> -->
  <link rel="stylesheet" href="../static/css/cal_style.css" type="text/css">

  <link rel="stylesheet" href="../static/css/results_style.css" type="text/css">

  <script src="https://d3js.org/d3.v5.min.js"></script>
  

  <!-- Custom styles for this template -->
  <link href="../static/css/landing-page.min.css" rel="stylesheet" type="text/css">
  <link href="../static/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#"></a>
      <a class="btn btn-primary" href="sign_in_index.html">Sign In</a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Using Machine Learning to Help Manage Migraines</h1>         
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form id='form'>
                  <div class="form-row">
                    <div class="col-12 col-md-12 mb-2 mb-md-0 mx-auto">
                      <input type="zipcode" id="zip" class="form-control form-control-lg" placeholder="enter your zipcode">
                    </div>            
                  </div>  
                  <div class="form-row">
                    <div class="col-12 col-md-12 mb-2 mb-md-0 mx-auto">
                        <h1>  </h1>
                      <input type="text" class="form-control form-control-lg date" id="date" placeholder="click for multiple dates">
                    </div>
                      <div class="col-12 center-block text-center">
                          <h1>  </h1>
                        <button class="btn btn-block btn-lg btn-primary" id="button" type="submit">Submit</button>
                      </div>           
              </form>
            </div>               
          </div>
        </div>
      </div>
    </div>
  </header>
  
  
  
<!-- <div class="container">
  <div class="center">
    <div class="col-3 col-md-0 mb-0 mb-md-0 mx-auto">
      <button class="btn btn-block btn-lg btn-primary" id="button">Submit</button> -->
      <!-- <button type="submit" class="btn btn-block btn-lg btn-primary">Submit</button> -->
    <!-- </div>
  </div>
</div> -->


  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Desktop & Mobile</h3>
            <p class="lead mb-0">We expect to have a mobile app very soon to go along with our desktop application</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Building a Foundation of Well-being</h3>
            <p class="lead mb-0">Each new time you sign in we will use your previously entered data to build a tailored response just for you</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">It really is as simple as entering the date with of migraine</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/images/bg-migraine1.jpeg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Migraines</h2>
          <p class="lead mb-0">Chronic Migraines are a common and disabling condition reported in approximately 3.3 million people in the US alone. In the Global Burden of Disease Study by the World Health Organization, updated in 2013, migraine was found to be the sixth highest cause worldwide of years lost due to disability. Migraine attacks sometimes increase in frequency over time.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('../static/images/bg-meancloud2.gif');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Weather Plays a Role</h2>
          <p class="lead mb-0">Weather can have a signifiacnt impact on frequency and severity of migraines for sufferers.  Using the World Weather Online API, we looked at hsistorical data going back xx years.
          </p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/images/bg-pressure.gif');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Barometric Pressure</h2>
          <p class="lead mb-0">Although we used a number of factors, we focused in on Barometric Pressure.  We are hoping to see a correlation between the change of Barometric Pressure and the onset of a migraine.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('../static/images/abe.gif');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>No more Yelling at Clouds like Abe Simpson</h2>
          <p class="lead mb-0">There are a number of triggers that may cause the onsent of migraines.  Some of these happen days, some just moments before.  We hope to relieve some of the anxiety of the unknown by providing a forecast with levels of risk associated with each day.  These are based on weather conditions, a known trigger.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../static/images/bg-machinelearn.gif');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Machine Learning</h2>
          <p class="lead mb-0">We have trained our Machine Learning algorithim on historical weather data coupled with real world experiences from migraine sufferers. As you record and enter the dtaes of migraines the machine will tailor predictions for you.</p>
        </div>
      </div>
    
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Some of our Resources</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../static/images/sean1.jpeg" alt="">
            <h5>Sean Morey</h5>
            <p class="font-weight-light mb-0">"Thank you Sean"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../static/images/weather1.jpeg" alt="">
            <h5>World Weather Online</h5>
            <p class="font-weight-light mb-0">"World Weather Online is dedicated to providing global weather forecast and weather content"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="../static/images/mongo.jpeg" alt="">
            <h5>MongoDB</h5>
            <p class="font-weight-light mb-0">"A NoSQL database program, MongoDB uses JSON-like documents with optional schemas."</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Sign up now</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="/">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">Yeni • Krystal • Corey • Kevin</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/js/app.js"></script>
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js'></script><script  src="../static/js/cal_script.js"></script>

</body>

</html>
