<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Secure Sign In</title>
  <link rel="stylesheet" href="sign_in_style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="login-box">
  <div class="left">
    <h1>Sign In</h1>
    
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="email" placeholder="e-mail" />
    <input type="password" name="password" placeholder="Password" />
    <!-- <input type="password" name="password2" placeholder="Retype password" /> -->
    
    <input type="submit" name="signup_submit" value="Submit" />
  </div>
  
  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>
    
    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  <div class="or">OR</div>
</div>
<!-- partial -->
  
</body>
</html>
